- page_title "#{t("fluentd.settings.page_#{action_type}")} #{t("fluentd.settings.#{target_plugin_name}.show.page_title")}"

.well
  = raw t("fluentd.settings.#{target_plugin_name}.option_guide")

= render "shared/settings/form", action: action
